
@font-face {
    font-family: Golos;
    src: url(../fonts/Golos-Text_Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: Golos;
    src: url(../fonts/Golos-Text_Bold.ttf);
    font-style: bold;
    font-weight: 600;
}

@font-face {
    font-family: Golos;
    src: url(../fonts/Golos-Text_DemiBold.ttf);
    font-style: italic;
    font-weight: 400;
}